{
	"presets": [
		[
			"next/babel"
		]
	],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["."],
				"alias": {
					"@components": "./src/components",
					"@services"  : "./src/services",
					"@styles"    : "./src/.styles",
					"@themes"    : "./src/.styles/.themes"
				}
			}
		]
	]
}